openai>=1.88.0
pandas>=2.3.0
flask>=3.1.1
flask-cors>=6.0.1
fastapi>=0.115.0
uvicorn>=0.34.0






SELECT
    s.name AS schema_name,
    t.name AS table_name,
    c.column_id,
    c.name AS column_name,
    ty.name AS data_type,
    c.max_length,
    c.precision,
    c.scale,
    c.is_nullable
FROM sys.tables t
JOIN sys.schemas s
    ON s.schema_id = t.schema_id
JOIN sys.columns c
    ON c.object_id = t.object_id
JOIN sys.types ty
    ON ty.user_type_id = c.user_type_id
WHERE t.name IN (
    'Dim_Property',
    'Fact_Occupancy',
    'Fact_Valuation',
    'Fact_Investment',
    'Fact_AUMAUA'
)
ORDER BY s.name, t.name, c.column_id;
